
.navbar {
	border-radius: 0px;
  border-color: black;
  padding-bottom: 0px;
  background: rgb(20,33,129);
  background: linear-gradient(90deg, rgba(20,33,129,1) 28%, rgba(147,13,13,1) 67%, rgba(210,134,27,1) 100%);0%);
  border-style: dashed;
	background-repeat: repeat;

}
.navbar-brand{

  font-family: 'Impact', fantasy ;
  font-size: 200%;
  color: #BB9A06;
}
.navbar-hakkimizda{
   font-family: 'Impact', fantasy ;
  font-size: 180%;
  color: black;
}
.navbar-iletisim{
  font-family: 'Impact', fantasy ;
  font-size: 200%;
}
nav{
  font-family: 'Impact', fantasy ;
  font-size: 200%;  
}
body{
  font-size : 140%;
  background: rgb(6,13,66);
  background: linear-gradient(90deg, rgba(6,13,66,0.8267682072829132) 26%, rgba(147,13,13,0.5382528011204482) 67%, rgba(210,134,27,0.8799894957983193) 100%);
}
footer{
   	  position:fixed;
   	  bottom:0
      padding: 10px 20px;
      background: #666;
      color: white;
      }

#altfooter {
   bottom:0;
   width:100%;
   height:30px;   /* footer yüksekliği */
   background:#666;
   text-align:center;
}


.index-navbar{
  margin-bottom: 0px;
  background: rgb(20,33,129);
  background: linear-gradient(90deg, rgba(20,33,129,1) 28%, rgba(147,13,13,1) 67%, rgba(210,134,27,1) 100%);

}
  .ana-bolum{
    font-family: 'Roboto', sans-serif;
    width:800px;
    margin:0 auto;
    display:table;
    padding:10px;
    border:1px solid #ccc;
    background: #f9f9f9;
  }
  .ana-bolum .kutu{
    float:left;
    width:22%;
    height:auto;
    border:1px solid #848484;
    padding:1%;
    margin-right:7px;
  }
  .ana-bolum .kutu:nth-child(5n+4){
    margin-right:0;
  }
  .ana-bolum .kutu *{
    display:table;
    margin:0 auto;
  }
  .ana-bolum .kutu .baslik{
    margin-top:5px;
    font-size:20px;
    color:#000;
    text-decoration:none;
  }
  .ana-bolum .kutu .aciklama{
    margin-top:3px;
    font-size:14px;
    color:#383838;
    text-decoration:none;
  }
  .ana-bolum .kutu .link{
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #0a2740;
    padding: 3px 10px;
    background: #0faed2;
    color: #f1f1f1;
  }
  .ana-bolum .kutu .fotograf{
    width:100%;
    height:auto;
    
  }
  .ana-bolum .kutu .fotograf img{
    width:100%;
    height:auto;
  }
  .ayirici{
    width:100%;
    height:20px;
    float:left;
  }
